@use '../../index';

.create-input {
    font-size: index.$font-size-ineractive;
    padding: 10px;
    text-align: left;
    background-color: #f1f1f1;
    color: #202020;
    border-color: #537be7;
    border-radius: 10px;
}

.back-button {
    border: none;
    opacity: 0.85;
    inset-inline: 30px;
    inset-block: 30px;
    width: 48px;
    height: 48px;
    background: transparent url('../../assets/Back-arrow.png') center no-repeat;
    background-size: 48px 48px;
}