.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    align-content: center;
    justify-items: center;
    align-items: center;
    gap: 30px;
    padding: 50px;
    background-color: #f2f2f2;
    min-height: 420px;
}