.logo-container {
    border: none;
    outline: 2px solid white;
    outline-offset: 2px;
    width: 45px;
    height: 45px;
    background: transparent url("../../assets/react-icon.svg") center no-repeat;
    background-size: 45px 45px;
}